@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #F5F5F5;
  color: #67727A;
  font-family: 'Alegreya', sans-serif;
  margin: 0;
}

h2 {
  font-size: 250%;
  font-weight: 700;
  text-align: center;
  padding-top: 2%;
  color: #F5F5F5;
}

h3 {
  font-family: 'Alegreya', sans-serif;
  font-size: 175%;
  line-height: 155%;
  padding: 5% 0;
  font-weight: 400;
  color: #F5F5F5;
}

p {
  font-family: 'Alegreya', sans-serif;
  color: #F5F5F5;
  font-size: 160%;
  line-height: 150%;
  padding: 3.83%;
  text-align: justify;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

header {
  background-color: #6991AC;
  width: 100%;
  height: 86px;
}
#header-inner {
  max-width: 1200px;
  margin: 0 auto;
}

#logo {
  padding-top: 10px;
  float: left;
  font-size: 350%;
  text-decoration: none;
  color: #F5F5F5;
}

/* personal description */
.personl-description-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #6991AC;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #F5F5F5;
  margin: 0 auto;
}

#personal-image {
  width: 250px;
  height: 250px;
  padding-right: 20px;
}

/*Personal Description section ends*/

/* Navigation */
nav {
  float: right;
  padding: 25px 20px 0 0;
}
/* End Navigation */

/* Skills section */
#skills-header {
  width: 100%;
  background-color: #008080;
  color: #F5F5F5;
  padding-top: 2px;
  padding-bottom: 7px;
}

.skills {
  width: 25%;
  float: left;
  text-align: center;
}

#html {
  background-color: #F1AA90;
}
#css {
  background-color: #BE89AD;
}
#javascript {
  background-color: #AADCD2;
}
#responsive {
  background-color: #A2B2C1;
}

.skills i {
  color: #F0F0F0;
  font-size: 500%;
  padding: 13% 0 4% 0;
}
/* Skills section ends */

/*Work Experience section*/
#experience-header {
  background-color: #008080;
  color: #F5F5F5;
  padding-bottom: 7px;
}

#oraclesw i {
  font-size: 2000%;
}

.experience {
  float: left;
  width: 100%;
  background-color: #C3D7DF;
}


#oraclesw {
  float: left;
  width: 50%;
}

#oraclesw2 {
  float: right;
  margin: 0 auto;
  width: 50%;
  height: auto;
}

.experience-2 {
  float: left;
  width: 100%;
}

#oracleqa i {
  font-size: 2000%;
}

#oracleqa {
  float: right;
  margin: 0 auto;
  width: 50%;
  height: auto;
}

#oracleqa-2 {
  float: left;
  margin: 0 auto;
  width: 50%;
  height: auto;
}

#internship i {
  font-size: 2000%;
}

#internship {
  float: left;
  margin: 0 auto;
  width: 50%;
  height: auto;
}

#internship-2 {
  float: right;
  margin: 0 auto;
  width: 50%;
  height: auto;
}

/*Work Experience section ends*/

/*Project Section */
#projects-header {
  width: 100%;
  background-color: #008080;
  padding-bottom: 7px;
}

.projects-section {
  float: left;
  width: 100%;
  background-color: #AADCD2;
}

.projects {
  width: 33.33333333%;
  float: left;
  text-align: center;
}

#project-1 {
  background-color: #A2B1C1;
}
#project-2 {
  background-color: #BEB9AD;
}
#project-3 {
  background-color: #AADCD2;
}
/*Project Section Ends*/

/*footer section*/
footer {
  background-color: #6991AC;
  width: 100%;
}

.social {
  list-style-type: none;
  text-align: center;
}

.social li {
  display: inline;
}

.social i {
  font-size: 200%;
  margin: 1%;
  padding: 1% 5% 1% 4%;
  color: #C3D7DF;
}

.social i:hover {
  color: #F5F5F5;
}

/*footer section ends*/



/*Media queries for responsive design*/
@media screen and (max-width: 768px) {
  h2 {
    font-size: 150%;
  }
  h3 {
    font-size: 125%;
  }
  p {
    font-size: 120%;
  }
  header {
    position: absolute;
  }

  #logo {
    font-size: 200%;
  }

  .intro {
    text-align: center;
  }

  .personl-description-inner {
    display: flex;
    flex-direction: column;
  }

  #personal-image {
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
  }

  .skills {
    float: left;
    width: 100%;
  }

  .skills i {
    font-size: 350%;
    padding: 4% 0 1% 0;
  }

  article {
    float: left;
    width: 100%;
  }
  aside {
    float: left;
    width: 100%;
  }

  .experience {
    text-align: center;
  }

  #oraclesw i{
    font-size: 1000%;
  }

  #oraclesw {
    float: left;
    width: 100%;
  }

  .experience-2 {
    text-align: center;
  }

  #oraclesw2 {
    float: left;
    width: 100%;
  }

  #oracleqa {
    float: left;
    width: 100%;
  }

  #oracleqa-2 {
    width: 100%;
  }

  #oracleqa i {
    font-size: 1000%;
  }

  #internship {
    float: left;
    width: 100%;
  }

  #internship-2 {
    width: 100%;
  }

  #internship i {
    font-size: 1000%;
  }

  .projects {
    float: left;
    width: 100%;
    text-align: center;
  }
}
